{% extends "base.html" %}

{% block content %}
  {% for page in pages
      | filter(attribute="meta.title")
      | filter(attribute="meta.date")
      | filter(attribute="meta.kind", value="post")
      | sort(attribute="meta.date")
      | reverse
  %}
    <div class="py-2">
      <div>
        <small class="text-muted">{{ page.meta.date | date(format="%b %d, %Y") }}</small>
      </div>
      <div>
        <a class="post-link" href="{{ path_to_root ~ page.path | safe }}">{{ page.meta.title }}</a>
      </div>
    </div>
  {% endfor %}
{% endblock content %}
